<div class="jumbotron jumbotron-sm" style="background-color:#999999; box-shadow: rgba(0,0,0,0.18) 0px 2px 4px; font-family: 'Questrial', sans-serif; color:white; text-shadow: 0, 1px, 2px, rgba(0,0,0,0.20);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1" style="text-align:center;text-shadow: rgba(0,0,0,0.18) 2px 4px 6px;">
                    How it works.  @*<small>Feel free to contact us</small>*@
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="min-height:400px;">
        <div class="frame col-md-6">
            <h2>1. Landing Page</h2>
            <img src="~/Content/Images/landing_page.jpg" class="img-rounded" alt="Month View">
            <div class="details">
                @*<h1>Landing Page</h1>*@
                <p>User arrives at the Landing Page. Click "Get Started" to be directed to the app.</p>
            </div>
        </div>
        <div class="frame col-sm-12 col-md-6">
            <h2>2. User Daily Page</h2>
            <img src="~/Content/Images/daily.jpg" class="img-rounded" alt="Day View">
            <div class="details">
                @*<h1>Lorem</h1>*@
                <p>User arrives at the "Daily Page." Click "Sign In" in top right of Navigation Bar to authenticate Google account.</p>
                <p>In the Calendar, the user can toggle between Daily, Weekly, and Monthly calendar views.</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row" style="min-height:400px;">
        <div class="frame col-md-6">
            <h2>3. User Daily Page with Gaps Shown</h2>
            <img src="~/Content/Images/month.jpg" class="img-rounded" alt="Month View">
            <div class="details">
                @*<h1>Lorem</h1>*@
                <p>Click "Find Gaps" to identify free time within your schedule.</p>
                <p>Click "Show Gaps" to show the next 10 gaps in your calendar on screen.</p>
                <p>User can add "To Do" items by typing in what they'd like to do, and clicking the "+" sign.</p>
                <p>User can remove items clicking on the item, then the "-" sign.</p>
            </div>
        </div>
        <div class="frame col-md-6">
            <h2>4. Add Event</h2>
            <img src="~/Content/Images/add_event.jpg" class="img-rounded" alt="Month View">
            <div class="details">
                @*<h1>Lorem</h1>*@
                <p>Users can add events through this page. Start, and End, Times are entered in "MM-DD-YYYY and 00:00."</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row" style="min-height:400px;">
        <div class="frame col-sm-12 col-md-6">
            <h2>5. Edit Your Schedule</h2>
            <img src="~/Content/Images/edit.jpg" class="img-rounded" alt="Edit Schedule">
            <div class="details">
                @*<h1>Lorem</h1>*@
                <p>User can edit, and delete, their events from this view.</p>
            </div>
        </div>

        <div class="frame col-sm-12 col-md-6">
            <h2>6. Frequently Asked Questions</h2>
            <img src="~/Content/Images/faq.jpg" class="img-rounded" alt="FAQ">
            <div class="details">
                @*<h1>Lorem</h1>*@
                <p>Users can contact the app, submit any questions, comments, or concerns. App team portfolios are also here.</p>
            </div>
        </div>
    </div>
</div>