@model MindTheGap.Models.Event

@{
    ViewBag.Title = "FAQ";
}


<div class="container">
    <div class="jumbotron jumbotron-sm" style="background-color:#999999; box-shadow: rgba(0,0,0,0.18) 0px 2px 4px; font-family: 'Questrial', sans-serif; color:white; text-shadow: 0, 1px, 2px, rgba(0,0,0,0.20);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1" style="text-align:center;text-shadow: rgba(0,0,0,0.18) 2px 4px 6px;">
                        Frequently asked questions.  @*<small>Feel free to contact us</small>*@
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="container" style="justify-content:center">*@
@*<div class="body">*@
<div class='centerplease' style="font-family: 'Questrial', sans-serif; color:white; text-shadow: 0, 1px, 2px, rgba(0,0,0,0.20);">
    Mind the Gap Frequently Asked Questions
</div>
<div class="content" style="font-family: 'Questrial', sans-serif; color:white;">
    >
    <div>
        <input type="checkbox" id="question1" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question1" class="question" style="background-color: #4C5C68;">
            What does Mind the Gap do?
        </label>
        <div class="answers">
            Mind the Gap syncs with your Google Calendar, finds the gaps in your schedule, and suggests things that you'd rather be doing with your down time.
        </div>
    </div>
    <div>
        <input type="checkbox" id="question2" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question2" class="question" style="background-color: #4C5C68;">
            Do I need to have a Google account?
        </label>
        <div class="answers">
            We do require users have a Google account to sync calendars seamlessly. They are free and easy to create. You can create one <a href="https://accounts.google.com/SignUp?continue=https%3A%2F%2Fwww.google.com%2F&hl=en">here.</a>
        </div>
    </div>
    <div>
        <input type="checkbox" id="question3" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question3" class="question" style="background-color: #4C5C68;">
            Do I need to enter events/interests in Google *and* Mind the Gap?
        </label>
        <div class="answers">
            You do not need to enter information into both. Anything you add to your Google calendar will be updated.
        </div>
    </div>
    <div>
        <input type="checkbox" id="question4" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question4" class="question" style="background-color: #4C5C68;">
            How easy is it to manage the calendar and events?
        </label>
        <div class="answers">
            Your tasks and interests are very easy to manage within the app.
        </div>
    </div>
    <div>
        <input type="checkbox" id="question5" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question5" class="question" style="background-color: #4C5C68;">
            Does an interest have to be scheduled for the entire duration of a gap?
        </label>
        <div class="answers">
            No. When filling a gap, you can select exactly how much time you'd like to fill.
        </div>
    </div>
    <div>
        <input type="checkbox" id="question6" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question6" class="question" style="background-color: #4C5C68;">
            Can I select multiple interests to do within the same gap?
        </label>
        <div class="answers">
            Yes.
        </div>
    </div>
</div>
