
@{
    ViewBag.Title = "ProfilePage";
}

<div class="jumbotron jumbotron-sm" style="box-shadow: rgba(0,0,0,0.18) 0px 2px 4px; font-family: 'Questrial', sans-serif; color:white; text-shadow: 0, 1px, 2px, rgba(0,0,0,0.20);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1" style="text-align:center;text-shadow: rgba(0,0,0,0.18) 2px 4px 6px;">
                    Keep track of your progress
                </h1>
            </div>
        </div>
    </div>
</div>

<!--Interest #1-->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">

            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
            <h4 style="text-align:center; font-family: 'Questrial', sans-serif;">Reading</h4>
            <h4 style="text-align:center; font-family: 'Questrial', sans-serif;">Goal: 7 Hours</h4>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
            <h4 style="text-align:center; font-family: 'Questrial', sans-serif;">Yoga</h4>
            <h4 style="text-align:center; font-family: 'Questrial', sans-serif;">Goal: 5 Hours</h4>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
            <h4 style="text-align:center; font-family: 'Questrial', sans-serif;">Spinning</h4>
            <h4 style="text-align:center; font-family: 'Questrial', sans-serif;">Goal: 5 Hours</h4>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="progress pink">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">67%</div>
            </div>
            <h4 style="text-align:center; font-family: 'Questrial', sans-serif;">Studying</h4>
            <h4 style="text-align:center; font-family: 'Questrial', sans-serif;">Goal: 4 Hours</h4>
        </div>
    </div>
</div>
